/*-- scss:defaults --*/
// Journal 5.3.2
// Bootswatch

$theme: "journal" !default;

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eee !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #aaa !default;
$gray-600: #777 !default;
$gray-700: #495057 !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black:    #000 !default;

$blue:    #eb6864 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #f57a00 !default;
$orange:  #fd7e14 !default;
$yellow:  #f5e625 !default;
$green:   #22b24c !default;
$teal:    #20c997 !default;
$cyan:    #369 !default;

$primary:       #01110a !default;
$secondary:     $gray-500 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;
$link-color: #5895B0 !default;


$min-contrast-ratio:   1.28 !default;

// Fonts

:root {
--font-size-sm: clamp(0.7rem, 0.09vw + 0.68rem, 0.75rem);
--font-size-base: clamp(0.88rem, 0.23vw + 0.82rem, 1rem);
--font-size-md: clamp(1.09rem, 0.43vw + 0.98rem, 1.33rem);
--font-size-lg: clamp(1.37rem, 0.74vw + 1.18rem, 1.78rem);
--font-size-xl: clamp(1.71rem, 1.2vw + 1.41rem, 2.37rem);
--font-size-xxl: clamp(2.14rem, 1.86vw + 1.67rem, 3.16rem);
--font-size-xxxl: clamp(2.67rem, 2.8vw + 1.97rem, 4.21rem);
--bs-body-line-height: 1.4;
}

$headings-font-family: var(--bs-font-sans-serif) !default;
$font-size-root: var(--font-size-base) !default;
$h1-font-size: var(--font-size-xxxl) !default;
$h2-font-size: var(--font-size-xxl) !default;
$h3-font-size: var(--font-size-xl) !default;
$h4-font-size: var(--font-size-lg) !default;
$h5-font-size: var(--font-size-md) !default;

$headings-line-height: 1 !default;


// Buttons
$input-btn-padding-x:         1rem !default;

// Navbar

.navbar {
  font-weight: 400 !important;
  font-size: var(--font-size-sm) !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}



.nav-link.active,
.nav-link:hover{
  color: white!important;
  text-decoration: underline;
  text-underline-offset: 3px;
}

// Pagination

$pagination-hover-color:            $white !default;
$pagination-hover-bg:               $primary !default;
$pagination-hover-border-color:     $primary !default;

// Cards
$card-border-color: black;
.card-img-top {
  border-bottom: 1px solid $card-border-color;
}

// Hero
.hero-container {
    max-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .2)), url("https://uploads-ssl.webflow.com/5fd1a0c670b4e04386b63c5c/60bacd78c96519c915e08181_hero-ba.jpg");
    background-position: 0 0, 0%;
    background-size: auto, auto;
    background-attachment: scroll, fixed;
    margin-bottom: 0;
    height: 100vh;
    color: white;
    margin-top: -46px;
}

@media (min-width: 768px) {
 .hero-container {
   margin-top: -60px;
 }
}


.hero-text {
  align-self: center;
}

.hero-text h1 {
  margin: 0;
}

.hero-text p {
  font-size: var(--font-size-lg);
}


// Listings
.listings-grid ul {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(180px, 100%), 1fr));
  gap: 1.5rem;
  row-gap: 1rem;
}
  
.profile-image {
  height: 100px;
  aspect-ratio: 1;
  border-radius: 9999px;
  overflow: hidden;
  background-size: cover;
}


ul.social-links {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

