/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap');

:focus {
  box-shadow: none !important;
}

:focus-visible {
  outline: none !important;
  box-shadow: 0 0 0 0.1rem !important;
}

.navbar-logo {
  max-width: 100px;
}

footer.footer .nav-footer, #quarto-header>nav {
  padding: .5rem 1rem;
}

/* Blocks */

.grid-block ul {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(180px, 100%), 1fr));
  gap: 1.5rem;
  row-gap: 1rem;
}
  
#listing-research-themes ul li h2 {
  border: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.profile-image {
  height: 100px;
  aspect-ratio: 1;
  border-radius: 9999px;
  overflow: hidden;
  background-size: cover;

  
}


ul.social-links {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  
}




