/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap');

:focus {
  box-shadow: none !important;
}

:focus-visible {
  outline: none !important;
  box-shadow: 0 0 0 0.1rem !important;
}

body {
  font-family: 'Inclusive Sans', sans-serif;
}

.navbar {
  transition: all 0.3s;
}

header.headroom--top .navbar {
  background-color: transparent;
  border-bottom: 1px solid #dee2e6;
}

header.headroom--unpinned .navbar {
  background-color: inherit;
  border-bottom: 1px solid transparent;
}


.quarto-light header img {
  filter: invert(1);
}

.navbar-logo {
  max-width: 100px;
}

footer.footer .nav-footer, #quarto-header>nav {
  padding: .5rem 1rem;
}

/* Blocks */


#listing-research-themes ul,
.grid-block ul {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5em;
}
  
#listing-research-themes ul li h2 {
  border: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.profile-image {
  height: 100px;
  aspect-ratio: 1;
  border-radius: 9999px;
  overflow: hidden;
  background-size: cover;

  
}


ul.social-links {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
  font-size: 12px;
  
}

.heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
}

/* 