<ul>
    <% items.forEach(function(item) { %>
      <li>
        <a class="text-white" style="text-decoration: none;" href="<%= item.url %>">
          <%= item.icon %>
          <h3 class='fs-4 mt-3'><%= item.name %></h3>
          <p><%= item.description %></p>
        </a>
      </li>
    <% }) %>
  </ul>

  
  
  