
  
  <ul>
    <% items.forEach(function(item) { %>
      <li>
        <%= item.icon %>
        <h3 class='fs-4 mt-3'><%= item.name %></h3>
        <p><%= item.description %></p>
      </li>
    <% }) %>
  </ul>
